#!/bin/bash

# Bildschirmschoner und Standby deaktivieren
wlopm --set-standby off

# ydotool Daemon starten, um später die Maus zu bewegen
ydotoold &

# 50 Sekunden warten, bis System und Chromium komplett geladen sind,
# dann Maus um 100 Pixel bewegen, damit die Webflow-Regel den Cursor versteckt
(sleep 50 && ydotool mousemove 100 100) &

# Chromium im Kiosk- und Inkognito-Modus starten
# Übersetzungsfunktionen soweit wie möglich deaktivieren
chromium \
    --kiosk \
    --incognito \
    --noerrdialogs \
    --disable-infobars \
    --disable-session-crashed-bubble \
    --disable-restore-session-state \
    --no-first-run \
    --password-store=basic \
    --disable-translate \
    --disable-features=Translate,TranslateUI,LanguageDetection,TranslateSettings \
    --start-fullscreen \
    --start-maximized \
    --autoplay-policy=no-user-gesture-required \
    --check-for-update-interval=31536000 \
    --disable-background-networking \
    --disable-component-update \
    --disable-default-apps \
    --disable-extensions \
    --disable-popup-blocking \
    "{{KIOSK_URL}}" &
